<div class="blackLayer"></div>
<div class="content_and_background text_page title_position_<%= configuration['title_position'] %>">
  <div class="backgroundArea">
    <%= background_image_div(configuration, 'background_image') %>
    <%= shadow_div :opacity => configuration['gradient_opacity'] %>
    <div class="fixed_header_area">
      <div class="page_header_wrapper">
        <div class="page_header">
          <h2>
            <span class="tagline"><%= configuration['tagline'] %></span>
            <span class="title"><%= configuration['title'] %></span>
            <span class="subtitle"><%= configuration['subtitle'] %></span>
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content scroller inline_text_position_<%= configuration['text_position'] %> <% if configuration['invert_text'] %>invert_text<% end %>">
    <div>
      <div class="contentWrapper">
        <div class="page_spacer"></div>
        <div class="contentInnerWrapper">
          <div class="content_background_layer"></div>
          <div class="page_header">
            <div class="header_background_layer" style="opacity: <%= configuration['gradient_opacity'] %>"></div>
            <h2>
              <span class="tagline"><%= configuration['tagline'] %></span>
              <span class="title"><%= configuration['title'] %></span>
              <span class="subtitle"><%= configuration['subtitle'] %></span>
            </h2>
            <%= background_image_tag(configuration['background_image_id'], {"class" => "print_image"}) %>
          </div>
          <div class="contentText">
            <h3>
              <span class="text_title"><%= configuration['text_title'] %></span>
            </h3>
            <div class="inline_image <% if !configuration['text_image_id'] %>no_image_assigned<% end %>">
              <%= content_image(configuration['text_image_id'], configuration['image_description']) %>
              <% if configuration['image_description'] %>
                <div class="inline_image_text"><span><%= configuration['image_description'] %></span></div>
              <% end %>
            </div>
            <p>
              <%= raw configuration['text'] %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
